<div class="menu">
  <div class="main-menu">
    <div class="scroll scroll-p">
      <ul class="list-unstyled">
        <li routerLinkActive="active" *ngIf="role === 'admin'">
          <a routerLink="/dashboard/abstract">
            <i class="iconsminds-shop-4"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <li routerLinkActive="active" *ngIf="role === 'admin'">
          <a routerLink="/dashboard/products">
            <i class="iconsminds-cash-register-2"></i> Productos
          </a>
        </li>
        <li routerLinkActive="active" *ngIf="role === 'admin'">
          <a routerLink="/dashboard/lots">
            <i class="iconsminds-receipt-4"></i> lotes
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/dashboard/clients">
            <i class="iconsminds-mens"></i>
            clientes
          </a>
        </li>
        <li routerLinkActive="active" *ngIf="role === 'admin'">
          <a routerLink="/dashboard/expenses">
            <i class="iconsminds-coins"></i> Gastos
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/dashboard/sales">
            <i class="iconsminds-financial"></i> Ventas
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
