<div *ngIf="showAlertSuccess">
  <app-alerts
    [showAlertSuccess]="showAlertSuccess"
    [messageAlert]="messageAlert"
  ></app-alerts>
</div>
<div *ngIf="showAlertError">
  <app-alerts
    [showAlertError]="showAlertError"
    [messageAlert]="messageAlert"
  ></app-alerts>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h1>Lotes</h1>
      <div class="separator mb-5"></div>
      <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-body">
              <h5 class="mb-4">Gestión de lotes</h5>
              <form
                autocomplete="off"
                [formGroup]="lotForm"
                (submit)="submit()"
              >
                <div class="form-group">
                  <label for="exampleInputEmail1">Codigo</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Ingrese el codigo del lote"
                    formControlName="code"
                    required
                  />
                </div>
                <div class="row">
                  <div class="col text-danger">
                    <p *ngIf="invalidFields('Codigo')">
                      El codigo es obligatorio
                    </p>
                  </div>
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Cantidad de productos</label>
                  <input
                    type="number"
                    class="form-control"
                    placeholder="Ingrese la cantidad de productos"
                    formControlName="quantity_liters"
                    required
                  />
                </div>
                <div class="row">
                  <div class="col text-danger">
                    <p *ngIf="invalidFields('quantity_liters')">
                      La cantidad de litros es obligatoria.
                    </p>
                  </div>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Descuento</label>
                  <input
                    type="number"
                    class="form-control"
                    placeholder="Ingrese el valor del descuento"
                    formControlName="discount"
                  />
                </div>
                <div class="row">
                  <div class="col text-danger">
                    <p *ngIf="invalidFields('discount')">
                      El descuento no tiene el formato adecuado.
                    </p>
                  </div>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Motivo de descuento</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Ingrese el motivo del descuento"
                    formControlName="discount_reason"
                  />
                </div>
                <div class="row">
                  <div class="col text-danger">
                    <p *ngIf="invalidFields('discount_reason')">
                      El motivo de descuento no tiene el formato adecuado.
                    </p>
                  </div>
                </div>
                <div class="form-group">
                  <label>Tipo de lote</label>
                  <select
                    class="form-control select2-single"
                    data-width="100%"
                    formControlName="lot_type_id"
                  >
                    <option *ngFor="let lot of typeLots" [value]="lot.id">
                      {{ lot.name }}
                    </option>
                  </select>
                </div>
                <div class="row">
                  <div class="col text-danger">
                    <p *ngIf="invalidFields('lot_type_id')">
                      El tipo de lote es obligatorio.
                    </p>
                  </div>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1"
                    >Gasto de fabricación del producto (unidad)</label
                  >
                  <input
                    type="number"
                    class="form-control"
                    placeholder="Ingrese el valor unitario del producto"
                    formControlName="cost_liter"
                  />
                </div>
                <div class="row">
                  <div class="col text-danger">
                    <p *ngIf="invalidFields('cost_liter')">
                      El gasto de fabricación x unidad es obligatorio.
                    </p>
                  </div>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1"
                    >Cantidad Botellas reutilizadas</label
                  >
                  <input
                    type="number"
                    class="form-control"
                    placeholder="Ingrese La cantidad de botellas reutilizadas"
                    formControlName="reused_bottles"
                  />
                </div>
                <div class="row">
                  <div class="col text-danger">
                    <p *ngIf="invalidFields('reused_bottles')">
                      El campo de botellas reutilizables deben tener un formato
                      adecuado.
                    </p>
                  </div>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1"
                    >Gasto de fabricación del lote (total)</label
                  >
                  <input
                    type="number"
                    class="form-control"
                    placeholder="Ingrese el gasto de fabricación del lote"
                    formControlName="lot_total_cost"
                  />
                </div>
                <div class="row">
                  <div class="col text-danger">
                    <p *ngIf="invalidFields('lot_total_cost')">
                      El costo total es obligatorio
                    </p>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary mb-0">
                  Submit
                </button>
                &nbsp;
                <button
                  class="btn btn-danger mb-0"
                  (click)="deselectLot()"
                  type="button"
                  *ngIf="lotForm.value.id"
                >
                  Cancel
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 col-md-12 mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Lotes</h5>
              <div class="row">
                <div class="col-sm-6">
                  <div class="input-group typeahead-container">
                    <input
                      type="text"
                      class="form-control typeahead"
                      name="term"
                      id="query"
                      placeholder="Start typing something to search..."
                      data-provide="typeahead"
                      autocomplete="off"
                      [(ngModel)]="term"
                    />
                    <div class="input-group-append">
                      <button
                        type="button"
                        class="btn btn-primary default"
                        (click)="getAllLotsByTerm('code')"
                      >
                        <i class="simple-icon-magnifier"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <select
                    class="form-control select2-single"
                    data-width="100%"
                    [(ngModel)]="term2"
                    name="term2"
                    (blur)="getAllLotsByTerm('typeLot')"
                  >
                    <option value="todos" selected>Todos</option>
                    <option *ngFor="let type of typeLots" [value]="type.id">
                      {{ type.name }}
                    </option>
                  </select>
                </div>
              </div>
              <br />
              <table class="table">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Codigo</th>
                    <th scope="col">Cantidad Productos</th>
                    <th scope="col">Tipo de lote</th>
                    <th scope="col">Valor unitario</th>
                    <th scope="col">Valor Total</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Acción</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let lot of lots">
                    <td>{{ lot?.code }}</td>
                    <td>{{ lot?.quantity_liters }}</td>
                    <td>{{ lot?.lot_type?.name }}</td>
                    <td>{{ lot?.cost_liter }}</td>
                    <td>{{ lot?.lot_total_cost }}</td>
                    <td>{{ lot?.createdAt | date }}</td>
                    <td>
                      <button
                        *ngIf="lot?.code"
                        type="button"
                        class="btn btn-outline-success mb-1"
                        (click)="selectLot(lot)"
                      >
                        Seleccionar
                      </button>
                      &nbsp;
                      <button
                        *ngIf="lot?.code"
                        type="button"
                        class="btn btn-outline-warning mb-1"
                        (click)="deleteLot(lot.id)"
                      >
                        Eliminar
                      </button>
                      &nbsp;
                      <button
                        *ngIf="lot?.code"
                        type="button"
                        class="btn btn-outline-info mb-0"
                        data-toggle="modal"
                        data-backdrop="static"
                        data-target="#exampleModalRight"
                        (click)="getAllExpenses(lot)"
                      >
                        Mas...
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="center" role="group" *ngIf="showPagination">
                <div class="btn-group mr-2 mb-5">
                  <button
                    type="button"
                    class="btn btn-primary"
                    (click)="back()"
                  >
                    <i class="simple-icon-arrow-left"></i>
                  </button>
                  <button
                    type="button"
                    class="btn btn-primary"
                    (click)="next()"
                  >
                    <i class="simple-icon-arrow-right"></i>
                  </button>
                </div>
              </div>
              <div class="center" role="group" *ngIf="!showPagination">
                <div class="btn-group mr-2 mb-5">
                  <button
                    type="button"
                    class="btn btn-primary"
                    (click)="backSearch()"
                  >
                    <i class="simple-icon-arrow-left"></i>
                  </button>
                  <button
                    type="button"
                    class="btn btn-primary"
                    (click)="nextSearch()"
                  >
                    <i class="simple-icon-arrow-right"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade modal-right"
  id="exampleModalRight"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalRight"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Agregar Gasto</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="deselectLot()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="expenseLotForm">
          <div class="form-group">
            <label>Gasto</label>
            <select class="form-control" formControlName="expense">
              <option></option>
              <option *ngFor="let expense of expenses" [value]="expense.id">
                {{ expense.description }}
              </option>
            </select>
          </div>
        </form>
        <div class="row">
          <div class="col-12 list" data-check-all="checkAll">
            <div
              class="card d-flex flex-row mb-3"
              *ngFor="let element of spentPerLot"
            >
              <div class="d-flex flex-grow-1 min-width-zero">
                <div
                  class="card-body align-self-center d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center"
                >
                  <p class="mb-0 text-muted text-small w-30 w-xs-100">
                    {{ element?.spent?.description }}
                  </p>

                  <p class="mb-0 text-muted text-small w-15 w-xs-100">
                    {{ element.value }}
                  </p>
                  <div class="w-15 w-xs-100">
                    <div class="glyph">
                      <div
                        class="glyph-icon simple-icon-close"
                        (click)="deleteExpensePerLot(+element.id)"
                      ></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-outline-primary"
                data-dismiss="modal"
                (click)="deselectLot()"
              >
                Cancel
              </button>
              <button
                type="button"
                class="btn btn-primary"
                (click)="addExpensePerLot()"
              >
                Submit
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
