.img {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/four.gif");
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#fourohfour {
  width: 100%;
  height: 100%;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#fourohfour .text {
  background-image: radial-gradient(
    ellipse closest-corner at 50% 50%,
    rgba(0, 0, 0, 0) 1%,
    #000000 100%
  );
  width: 100%;
  height: 100%;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#fourohfour .text h1 {
  font-size: 30px;
  padding-top: 230px;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/logo-white.png");
  background-repeat: no-repeat;
  background-position: center 120px;
}
